/*Generic*/

.tc-control-panel textarea,
.tc-control-panel input[type="text"],
.tc-control-panel input[type="search"],
.tc-control-panel input[type=""],
.tc-control-panel input:not([type]),
.tc-edit-field-value input[type="text"],
.tc-type-selector input[type="text"] {
    border: 1px solid #c4c4c4;
}

input[type="search"] {
    border: 1px solid #e1e1e1;
}

input[type="search"]:focus {
    border: 1px solid #c4c4c4;
}

.tc-search input[type="search"]:focus {
    border: 1px solid transparent;
    transition: 0.1s;
    border-bottom: 3px solid #3399FF;
}

html {
    scroll-behavior: smooth;
}

.tc-titlebar {
    font-size: 2.2em;
}

.tc-block-dropdown {
    border-radius: 4px;
}

.tc-block-dropdown a:hover {
    background-color: #f0e68c;
}

.tc-drop-down {
    color: #606060;
    font-family: gotham, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    padding: 15px 7px;
    border-radius: 2px;
    border: 3px solid rgba(217, 217, 217, .4);
    border-top: 1px solid rgba(217, 217, 217, .4);
    border-left: 1px solid rgba(217, 217, 217, .4);
    margin: 1rem;
    margin-top: 4px;
    min-width: calc(100% + 100px);
    width: -moz-fit-content;
    overflow: visible;
    text-overflow: ellipsis;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .04), -6px 8px 15px rgba(0, 0, 0, .04), 6px 8px 15px rgba(0, 0, 0, .04);
}

.tc-titlebar .tc-drop-down {
    min-width: calc(100% + 30px);
}

.tc-drop-down a:hover,
.tc-drop-down button:hover,
.tc-drop-down .tc-file-input-wrapper:hover button {
    color: #444;
    background-color: #f0e68c;
    text-decoration: none;
}


hr {
    color: #ececec;
}

.tg td {
    font-size: 13.5px;
    overflow: hidden;
    padding: .3em;
    word-break: normal;
    border-width: 0;
}

tr:nth-child(even) {
    width: 100%;
    background-color: #f6f3f6;
}


/* TIDDLER TOOLBAR */

.tc-tiddler-view-frame .tc-tiddler-controls svg {
    fill: transparent;
}

.tc-tiddler-view-frame:hover .tc-tiddler-controls svg,
.tc-tiddler-view-frame .tc-tiddler-controls .tc-popup svg {
    fill: #cccccc;
}


/* BUTTON ANIMATION */

.tc-page-controls svg,
.tc-tiddler-controls svg,
.tc-topbar button svg,
.tc-sidebar-scrollable {
    -webkit-transition: fill 200ms ease-in-out;
    -moz-transition: fill 200ms ease-in-out;
    transition: fill 200ms ease-in-out;
}


/* Notification */

.tc-notification {
    position: fixed;
    top: 35px;
    right: 50px;
    z-index: 1300;
    width: 300px;
    height: 50px;
    background-color: #FABF67;
    border: none;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .tc-notification {
        left: 0;
        right: 0;
        width: 100%;
    }
}



/* Pre */

pre {
    background: transparent;
    border: none;
}