body.tc-body {
    line-height: 20px;
    word-wrap: break-word;
    color: #333333;
    background-color: #FFFFFF;
    fill: #333333;
    letter-spacing: .2px;
}


.tc-tiddler-frame {
    -webkit-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    margin: 0 0 1.625em;
    border: 0;
    width: 100%;
    padding: 28px 42px 22px 62px;
}

@media only screen and (max-width: 600px) {
    .tc-tiddler-frame {
        padding: 30px 5px 5px 15px;
    }
}


.tc-titlebar h2 {
    color: #222;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.5em;
    -webkit-transition: font-size 200ms, color 400ms;
    -moz-transition: font-size 200ms, color 400ms;
    -ms-transition: font-size 200ms, color 400ms;
    -o-transition: font-size 200ms, color 400ms;
    transition: font-size 200ms, color 400ms;
}

.tc-titlebar:hover h2 {
    color: #1982d1;
}

.tc-titlebar .tc-tiddlylink.tc-tiddlylink-resolves:hover {
    text-decoration: none;
}

p {
    color: #373737;
    font-weight: 300;
    line-height: 1.625;
    margin-bottom: 1.625em;
}



.tc-topbar-left {
    left: 350px;
    top: 0;
    height: 50px;
}

.tc-topbar {
    width: calc(100% - 350px);
    background: rgba(255, 255, 255, 0.9);
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    .tc-topbar {
        display: none;
    }
}

.tc-topbar button {
    line-height: 50px;
    border-bottom: none;
    color: #ccc;
    text-transform: uppercase;
    padding: 0 15px;
}


.tc-topbar button:hover {
    color: #444;
}

.tc-topbar button svg.tc-image-button,
button .tc-image-button img {
    height: 1em;
    width: 1em;
}







/* Edit Template */

.tc-edit-tags .tc-block-dropdown-wrapper .tc-block-dropdown {
    border-radius: 4px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .04), -6px 8px 15px rgba(0, 0, 0, .04), 6px 8px 15px rgba(0, 0, 0, .04);
    padding: 15px 7px;
    border-radius: 2px;
    border: 3px solid rgba(217, 217, 217, .4);
    border-top: 1px solid rgba(217, 217, 217, .4);
    border-left: 1px solid rgba(217, 217, 217, .4);
    margin: 1rem;
    margin-top: 4px;
    width: -moz-fit-content;
}

span.tc-tag-label {
    font-family: gotham, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #606060;
}

.tc-edit-add-tag .tc-add-tag-name input {
	width: 50%;
	border: 1px solid #d1cfce;
}

@media only screen and (max-width: 600px) {
.tc-edit-tags .tc-block-dropdown-wrapper .tc-block-dropdown {
left: 0;
padding: 0;
margin: 0;
}

.tc-modal-body {
	min-height: 60vh;
}
}






/* Storyriver */

.tc-dropzone .tc-story-river {
    background: #fff;
    left: 350px;
    width: calc(100% - 400px);
}

@media only screen and (max-width: 600px) {
    .tc-dropzone .tc-story-river {
        width: 100%;
        position: absolute;
        padding-top: 30px;
    }
}









/* Sidebar */

.tc-sidebar-scrollable {
    background: #fafafa;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    margin: 0 0 0 0;
    padding: 70px 0 28px 0;
}

@media only screen and (max-width: 600px) {
    .tc-sidebar-scrollable {
        padding: 30px 0 10px 5px;
        width: 100%;
    }
}

.tc-page-controls {
    margin-top: 0;
    text-align: center;
}

.tc-tab-buttons {
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    .tc-tab-buttons {
        padding-left: 0;
    }
}

.tc-tab-content {
    padding-left: 30px;
}

@media only screen and (max-width: 600px) {
    .tc-tab-content {
        padding-left: 0;
    }
}



div.tc-sidebar-scrollable input {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-top: 1px solid rgba(0, 0, 0, .07);
}

.tc-block-dropdown.tc-search-drop-down {
    margin-left: 0;
    width: 100%;
}


.tc-sidebar-lists .tc-tab-buttons button {
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
    padding: 0 5px 5px 2px;
    text-align: center;
    color: #9a9a9a;
    -webkit-transition: color .1s ease-in;
    transition: color .1s ease-in;
    background: none;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 30px;
}

.tc-sidebar-lists .tc-tab-buttons button.tc-tab-selected {
    background: none;
    border: none;
    border-bottom: solid 1px #737373 !important;
    font-weight: bold;
    color: #DB4C3F !important;
}







/* FAB*/

.btn-floating {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 600;
    border-radius: 50%;
    transition: background-color .3s;
    text-align: center;
    letter-spacing: .5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #F44336 !important;
    color: #fff;
    fill: #fff;
    border: 1px;
    width: 50px;
    height: 50px;
    padding: 0;
}






/* Specific to Bharani Project */

.page {
    font-size: 18px;
    padding-top: 2%;
}

a {
    background: transparent;
    color: #4183c4;
    text-decoration: none;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #F1F1F1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    z-index: 510;
    -webkit-box-shadow: 0px 7px 10px -10px rgba(173, 173, 173, 1);
    -moz-box-shadow: 0px 7px 10px -10px rgba(173, 173, 173, 1);
    box-shadow: 0px 7px 10px -10px rgba(173, 173, 173, 1);
}

.topbar i {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.topbar .tc-drop-down {
    position: fixed;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 3%;
    top: 50px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    overflow: auto;
}

.topbar .tc-drop-down div {
    display: flex;
    flex-direction: row;
}


.topbar .tc-drop-down a, .tc-drop-down button {
    padding: 0;
    width: auto;
    display: inline-block;
}
mark{
background: bisque;
padding: 0 8px;
border-radius: 1em;
}



.horizontal-list {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

.horizontal-list li {
	float: left;
}

.horizontal-list li .tc-tiddlylink.tc-tiddlylink-resolves {
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

